body
{
  font-family: 'Titillium Web', sans-serif;
    background-image: url(../img/sky.jpg);
  background-position:right top;
  background-attachment: fixed;
  margin:0px;
  padding:0px;
  overflow:hidden;
}

h1,h2,h3,p
{
  margin:0;
  padding:0;
}

.fl 
{
  font-family:    "deja_vu";
  font-size:      5.2em;
  float:          left;
  margin-right:   0.02em;
  margin-top:     -36px;
 }

.footer
{
opacity:0.2;
}

.icon_wrapper
{
  display:flex;
  background-color: #393D4C;
  border-bottom:2px solid;
  border-color:#63646A;
}

#todoNumbers
{
  position:absolute;
  bottom:-15px;
  margin-left:11%;
}
#emailNumbers
{
  position:absolute;
  bottom:-15px;
  margin-left:11%;
}

.intro_wrapper
{
  padding:3%;
  margin:4%;
  background-color: white;
  width:40%;
  border-radius:16px;
  opacity:0.8;
}
.menu_panel
{
  background-color: #101526;
  display:flex;
  border-bottom:2px solid;
  border-color:#041122;
}
.menu_item
{
  flex: 1;
  text-align: center;
  color:#50526B;
  height:100%;
  position:relative;
  z-index:5;
  padding:1.1%;
  margin:0;
}
.menu_item:hover
{
  background-color:#361D36;
  color:#662A68;
  cursor:pointer;
}
a
{
    text-decoration: none
}
.area
{
  margin-left:33%;
  margin-right:3%;
  margin-top:3%;
  padding:1em;
  float:left;
  width:62%;
  min-height:750px;
  color:black;
  background-color:#E7E7E6 !important;
  border-radius: 8px;
  border:2px solid;
  border-color:#A1A1A1;
}
.area h1
{
  margin:0;
  color:#535268;
  font-weight:normal;
  margin-bottom:3%;
}
.area h2
{
  font-size:1.15em;
  text-align: center;
  color:#30426E;
}
.area p
{
  font-size:1.05em;
  margin-top:2%;
  margin-bottom:2%;
  line-height:26px;
}
.panel
{
  padding-left:1%;
  padding-right:1%;
  width:31%;
  float:left;
}
.panel p
{
  padding:0%;
  margin-bottom:0.3%;
  font-size:0.77em;
}
.left_side_panel
{
  height:100%;
  width:30%;
  background-color:white;
  float:left;
  position:fixed;
}
.left_side_panel h2
{
  text-align: center
}
.left_side_panel form
{
  position:relative;
  text-align: center;
  width:auto;
}
.left_side_panel form input
{
  padding:1.5%;
  margin:1.2%;
}
.left_side_panel input[type="button"]
{
  width:87%;
}
.quote
{
  font-size:0.87em;
  padding-left:1%;
  padding-right:1%;
  font-family:     "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
}
.smallico
{
  float:right;
}
.quote
{
  margin-top:1%;
  padding:2%;
  margin-right:7%;
  width:auto;
  background-color:#F5F5F5;
  border-radius: 8px;
  border: 1px dashed;
  border-color:#E5E5E5;
  line-height:22px;
}
.quote h3
{
  color:#C08000;
  font-weight:none;
  font-size:1.05em;
}
#navi
{
  position:fixed;
  width:100%;
  -webkit-transform: translate3d(0,0,0);
  z-index:2;
}
.contentAreas
{
  float:left;
  position:relative;
  margin-top:200px;
}

