@font-face 
{
    font-family: 'deja_vu';
    src: url('../fonts/deja_vu.eot');
    src: url('../fonts/deja_vu?#iefix') format('embedded-opentype'),
         url('../fonts/deja_vu.woff') format('woff'),
         url('../fonts/deja_vu.ttf') format('truetype'),
         url('../fonts/deja_vu.svg#deja_vu') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
  font-family:     "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
  background-image: url(../img/sky.jpg);
  background-position:right top;
  margin:0px;
  padding:0px;
}

.fl 
{
  font-family:    "deja_vu";
  font-size:      5.2em;
  float:          left;
  margin-right:   0.02em;
  margin-top:     -36px;
 }

.footer
{
opacity:0.2;
}

.icon_wrapper
{
  display:flex;
  background-color: white;

}

#todoNumbers
{
  position:absolute;
  bottom:-15px;
  margin-left:11%;
}
#emailNumbers
{
  position:absolute;
  bottom:-15px;
  margin-left:11%;
}

.intro_wrapper
{
  padding:3%;
  margin:4%;
  background-color: white;
  width:40%;
  border-radius:16px;
  opacity:0.8;
}
.menu_panel
{
  background-color: #EBEBEB;
  padding:1.25%;
  display:flex;
}
.menu_item
{
  flex: 1;
  margin-left:4%;

}
a
{
    text-decoration: none
}
.area
{
  margin-left:33%;
  margin-right:3%;
  margin-top:3%;
  padding:1em;
  float:left;
  width:62%;
  color:black;
  background-color:#EDEBFF;
  border-radius: 8px;
  border:2px solid;
  border-color:#A4A3AF;
}
.area h1
{
  margin:0;
  color:#535268;
  font-weight:normal;
}
.area h2
{
  font-size:1.15em;
  text-align: center;
  color:#30426E;
}
.area p
{
  font-size:1.05em;
}
.panel
{
  padding-left:1%;
  padding-right:1%;
  width:31%;
  float:left;
}
.panel p
{
  padding:0%;
  margin-bottom:0.3%;
  font-size:0.77em;
}
.left_side_panel
{
  height:100%;
  width:30%;
  background-color:white;
  float:left;
  position:fixed;
}
.left_side_panel h2
{
  text-align: center
}
.left_side_panel form
{
  position:relative;
  text-align: center;
  width:auto;
}
.left_side_panel form input
{
  padding:1.5%;
  margin:1.2%;
}
.left_side_panel input[type="button"]
{
  width:87%;
}
.emphasis
{
  font-size:0.87em;
  padding-left:1%;
  padding-right:1%;
}
